@tailwind components;

@layer components {
  .home-banner {
    @apply bg-contain font-bold;
    background-image: url('https://res.cloudinary.com/ddaymbzcc/image/upload/c_auto,w_2000/photo-repo/DSC_1306_sqndxh');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .tag-banner {
    @apply flex flex-col bg-gray-900 p-3 text-center;
  }

  .tag-list {
    @apply flex list-none columns-3 flex-wrap justify-center gap-3 py-3;
  }

  .tag-links {
    @apply relative rounded-md bg-gray-800 p-2;
  }
  .tag-links:hover {
    @apply bg-gray-600;
  }
}
