@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  html,
  body {
    @apply m-0 min-h-screen text-white;
  }

  body {
    @apply flex flex-grow flex-col bg-black antialiased;
  }

  main {
    @apply m-2;
  }

  h1 {
    @apply m-3 text-center text-3xl;
  }

  button:hover,
  a:hover {
    @apply cursor-pointer;
  }
  footer {
    @apply mt-auto h-auto bg-gray-900 p-3 text-center;
  }

  footer a {
    @apply block text-xs text-gray-500;
  }

  input,
  textarea {
    @apply text-black;
  }
}

@layer utilities {
  .logo {
    font-family: 'Oxygen', sans-serif;
  }

  .page-title {
    @apply font-bold text-gray-400;
  }
}

/* Popup modal styling */
@layer components {
  .blur {
    @apply fixed top-0 left-0 z-10 h-full w-full;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
  }

  .close-btn {
    @apply absolute top-0 right-0 z-20 p-0  text-3xl text-gray-200;
  }
  .modal-container {
    @apply fixed top-0 left-0 z-20 flex h-full w-full items-center justify-center;
  }
  .popup-image-container {
    @apply relative;
  }

  .popup-image-container {
    @apply w-1/2;
  }
  .popup-image-container.landscape {
    @apply w-3/4;
  }

  @media only screen and (max-width: 767px) {
    .popup-image-container,
    .popup-image-container.landscape {
      @apply relative h-auto w-full;
    }
  }
}
/* Email form styling */
@layer components {
  .email-container {
    @apply w-full py-4;
  }

  .email-form {
    @apply flex flex-col items-center;
  }

  .form-inputs {
    @apply w-4/5 items-center;
  }

  .email-form span {
    @apply mb-5 flex w-full flex-col justify-center;
  }
  .email-form label {
    @apply text-left text-xl font-bold;
  }

  .email-form button {
    @apply m-3 flex w-20 items-center justify-center rounded-md p-2;
    transition: background-color 0.3s ease;
  }

  .email-form .button-container {
    @apply flex flex-row;
  }

  .clear-btn {
    @apply flex flex-row items-center bg-red-600;
  }
  .clear-btn span {
    @apply m-0;
  }
  .submit-btn {
    @apply bg-purple-600;
  }

  .email-form .submit-btn:hover {
    @apply bg-purple-500;
  }

  .email-form .submit-btn:active {
    @apply bg-purple-700;
  }
  .email-form .clear-btn:hover {
    @apply bg-red-500;
  }

  .email-form .clear-btn:active {
    @apply bg-red-700;
  }

  .email-form input,
  .email-form textarea {
    @apply rounded-md p-2;
  }

  .email-form textarea {
    @apply h-32;
  }
  .missing input,
  .missing textarea {
    @apply border-2 border-red-600;
  }

  /* Handles smaller screens not having enough room for name and email */
  @media screen and (max-width: 415px) {
    .email-form label {
      @apply text-sm;
    }
    .email-form .name-email {
      @apply flex-col;
    }

    .email-form .form-inputs span {
      @apply w-full;
      margin: 0 0 1rem 0;
    }

    .email-form .form-inputs span label {
      @apply mb-2;
    }
  }
}
/* Styling for navbar */
@layer components {
  .nav-container {
    @apply flex justify-start;
  }

  .nav .menu-items {
    @apply relative text-lg;
  }

  .nav .menu-items a {
    @apply block text-inherit no-underline;
  }

  .nav .menu-items > a,
  .nav .menu-items button {
    @apply text-left;
    padding: 0.7rem 1rem;
  }
  .nav .menu-items button:hover {
    cursor: pointer;
  }
  /* adds underlining animation for navbar items */
  .nav .menu-items button::before {
    @apply absolute bottom-0 left-[50%] h-[2px] w-full origin-bottom bg-white transition-transform duration-200 ease-linear content-[''];
    transform: translateX(-50%) scaleX(0);
  }

  .nav .menu-items button:hover::before {
    transform: translateX(-50%) scaleX(1);
  }

  .nav .dropdown {
    @apply min-w-40 absolute right-0 left-auto z-50 hidden list-none rounded-lg bg-white text-sm text-black;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
    padding: 0.5rem 0;
  }

  /* adds underlining animation for each dropdown menu item */
  .nav .dropdown > li::before {
    @apply absolute bottom-0 left-1/2 h-[2px] w-[90%] origin-bottom bg-black transition-transform duration-200 ease-linear content-[''];
    transform: translateX(-50%) scaleX(0);
  }

  .nav .dropdown > li:hover::before {
    transform: translateX(-50%) scaleX(1);
  }

  /* makes dropdown visible on hover */
  .nav .dropdown.show {
    @apply block;
  }

  .nav .dropdown .dropdown-submenu {
    @apply absolute left-full top-[-7px];
  }

  .mobile-nav {
    @apply hidden;
  }

  /* menu on mobile */
  @media screen and (max-width: 960px) {
    .nav {
      @apply hidden;
    }
    .nav-area {
      @apply justify-between;
    }

    .desktop-nav {
      @apply hidden text-right;
    }

    .mobile-nav {
      @apply absolute right-0 top-20 z-50 block;
    }

    .mobile-nav .mobile-nav__menu-button {
      @apply relative cursor-pointer border-none bg-transparent text-inherit;
    }

    .mobile-nav .menus {
      @apply min-w-44 fixed right-0 z-50 list-none rounded-lg bg-white shadow-lg;
      padding: 0.5rem 0;
    }

    .mobile-nav .menu-items a {
      @apply block text-inherit no-underline;
    }

    .mobile-nav .menu-items button {
      @apply flex w-full cursor-pointer items-center border-none bg-transparent text-inherit;
    }

    .mobile-nav .menu-items > a,
    .mobile-nav .menu-items button {
      @apply text-left;
      padding: 0.7rem 1rem;
    }

    .mobile-nav .menu-items a:hover,
    .mobile-nav .menu-items button:hover {
      @apply cursor-pointer bg-gray-200;
    }

    .mobile-nav .arrow::after {
      @apply ml-5 inline-block border-t-[0.42em] border-r-[0.32em] border-l-[0.32em] border-solid border-t-black border-r-transparent border-l-transparent content-[''];
      vertical-align: 0.09em;
    }
    .mobile-nav .arrow-close::after {
      @apply ml-5 inline-block border-b-[0.42em] border-r-[0.32em] border-l-[0.32em] border-solid border-b-black border-r-transparent border-l-transparent content-[''];
      vertical-align: 0.09em;
    }

    .mobile-nav .dropdown {
      @apply ml-5 hidden list-none text-[0.9rem];
    }

    .mobile-nav .dropdown.show {
      @apply block;
    }
  }
}
